__pycache__/
.ipynb_checkpoints/
.DS_Store
.auth.txt
.auth.json
.auth.py
.credentials.py
auth.json
auth.txt
auth.py
credentials.py
*.pdf
*.jpeg
*.psd
*.ai
node_modules/
package-lock.json
.Rproj.user
*.code-workspace
stimuli/drawing_data/drawings/examples/figtry/car/1_car_sketch_age6_cdm_run_v31535837101386.png
data/compiled_classifications/classification-outputs-animalgame_C_0.1_560.csv
data/compiled_classifications/classification-outputs-biganimalgame_C_0.1_600.csv
data/compiled_classifications/classification-outputs-objectgame_C_0.1_500.csv
data/compiled_classifications/classification-outputs-vehiclegame_C_0.1_460.csv
data/recognition_data/animalgame.csv
data/recognition_data/biganimalgame.csv
data/recognition_data/objectgame.csv
data/recognition_data/vehiclegame.csv
museumstation_recognition_data_preprocessed.RData
analysis/step4_render_strokes/test.py
analysis/step4_render_strokes/test_stroke_7.png
analysis/step4_render_strokes/test_stroke_6.png
analysis/step4_render_strokes/test_stroke_5.png
analysis/step4_render_strokes/test_stroke_4.png
analysis/step4_render_strokes/test_stroke_3.png
analysis/step4_render_strokes/test_stroke_2.png
analysis/step4_render_strokes/test_stroke_1.png
analysis/step4_render_strokes/test_stroke_0.png
analysis/step4_render_strokes/test.png

analysis/step3_data_analysis/kiddraw_annotations_analysis_cogsci_files/*
analysis/step3_data_analysis/kiddraw_annotations_analysis_cogsci_cache/*
